.footer-content-container {
  margin: 0 0 1em 0;
}

.footer-linkbar {
  display: flex;
  justify-content: center;

  .footer-link {
    font-family: 'Crimson Pro';
    font-size: 1.25em;

    a {
      text-decoration: none;
      color: #2b3618;
    }

    a:hover {
      color: #566c30;
    }

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;

  .footer-copyright-description {
    font-family: 'Red Hat Display';
    font-size: 1em;
  }
}
