.blog-banner-container
  .blog-banner-background
    .blog-banner-title
      a.blog-banner-home-link(href=`${C.blogTopURL}`)= 'Layperson\'s Notes'
    .blog-banner-subtitle= "Slightly better than reinventing the wheels ⚙"
