.footer-content-container
  .footer-linkbar
    .footer-link
      a(href=`${C.blogTopURL}`) BLOG TOP
    .footer-link
      a(href=`${C.githubURL}`, rel='noreferrer noopener', target='_blank') GITHUB
  .footer-copyright
    .footer-copyright-description © Po-Yu Hsieh 2020
