div(class='footer-content-container')
  div(class='footer-linkbar')
    div(class='footer-link')
      a(href=`${C.siteTopURL}`) HOME
    div(class='footer-link')
      a(href=`${C.siteTopURL}`) BLOG TOP
    div(class='footer-link')
      a(href=`${C.githubURL}`) GITHUB
  div(class='footer-copyright')
    div(class='footer-copyright-description') © Po-Yu Hsieh 2020